<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-demo-intellij:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_intellij_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-demo-intellij/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-demo-intellij" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Spring-5.3.9" />
          <element id="library" level="application" name="Spring MVC-5.3.9" />
          <element id="library" level="application" name="jstl" />
          <element id="library" level="application" name="hibernate.validator" />
        </element>
      </element>
    </root>
  </artifact>
</component>